<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_FILE" value="/tmp/sc.log" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}.%d{yyyyMMdd}</fileNamePattern>
			<maxHistory>14</maxHistory>
		</rollingPolicy>
		<encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} : %msg%n%rEx{full, nuri.nas}</pattern>
        </encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<logger name="server.EchoServer" level="debug"/>

	<root level="debug">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
	<root level="warn">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
	<root level="error">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
